$tfk-yellow: #ffd520 !default;
$tfk-black: #000000 !default;
$tfk-green: #6ac4ae !default;
$tfk-blue: #00b1c7 !default;
$tfk-red: #e30438 !default;
$tfk-bg-page: #f2f2f2 !default;
$tfk-text-color: #000 !default;

$color-primary: $tfk-green !default;
$color-primary-dark: $tfk-yellow !default;
$color-primary-light: $palette-indigo-500;
$color-accent: $tfk-green !default;
$color-accent-dark: darken($color-accent, 20%) !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
