@import "../../global.css";
.placeholder {
  text-align: center;
  font-size: 2 * $unit;
}
.withRemove {
  position: relative;
}
.removeContainer {
  position: absolute;
  right: calc(1 * var(--unit));
  padding: calc(.3 * var(--unit));
}
@media screen and (max-width: 767px) {
  .xsreverse > *:nth-child(1) {order: 2;}
  .xsreverse > *:nth-child(2) {order: 1;}
}
.newstitle,
.htmlContent img {
  margin-bottom: calc(1 * var(--unit));
}
.cardTextEqualHeight {
  flex: 1 0 auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .cardTextEqualHeight {
    flex: 0 0 auto;
  }
}
.htmlContent img,
.htmlContentAd img {
  display: block;
  width: 100%;
  height: auto;
}
.htmlContent iframe,
.htmlContentAd iframe {
  display: block;
  width: 100%;
  margin: 0;
}
.loadingState {
  opacity: .5;
}
.placeholderImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(8 * var(--unit));
  text-align: center;
  margin-bottom: calc(1 * var(--unit));
  background: #ccc;
  .icon {
    font-size: calc(8 * var(--unit));
  }
}
