@import "../../sass/globals";

.container {
  padding-bottom: 0 * $unit;
}

.link {
  display: inline-block;
  padding-top: .5 * $unit;
  padding-bottom: .5 * $unit;
  color: $tfk-text-color;
}

.linkContainer {
  position: relative;
  text-align: left;
  margin-bottom: .5 * $unit;
}
.actionContainer {
  position: absolute;
  right: 0;
  top: 0;
}
.actions button {}