@import "../../global.css";
:root {
  --appbar-height: calc(6.4 * var(--unit));
  --appbar-logo-size: calc(3.6 * var(--unit));
  --appbar-shadow: 0 1px rgba(255,255,255,.65);
  --appbar-navigation-offset: calc(6.5 * var(--unit));
}
.container {
  height: 100%;
  width: 100%;
}
.appbar {
  z-index: var(--z-index-higher);
  min-height: var(--appbar-height);
  background: var(--tfk-yellow);
  color: var(--tfk-black);
}
.appBarButton {
  color: var(--tfk-black);
}
.logoHolder {
  display: inline-block;
  line-height: var(--appbar-height);
  margin-left: calc(1 * var(--unit));
}
.logoText {
  display: inline-block;
  color: var(--tfk-black);
  font-size: calc(1.6 * var(--unit));
  line-height: var(--appbar-height);
  font-weight: bold;
}
.logo {
  width: var(--appbar-logo-size);
  height: auto;
  vertical-align: middle;
  margin-right: calc(1 * var(--unit));
}
.layout {
  height: auto;
  min-height: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .layout {
    height: 100%;
  }
}
.panel {
  flex: 1;
  overflow-y: auto;
  padding: calc(2 * var(--unit));
}
@media screen and (max-width: 767px) {
  .panel {
    padding: calc(2 * var(--unit)) 0;
  }
}
.sidebar {
  flex: 1;
  overflow-y: auto;
  padding: calc(1 * var(--unit));
}
.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.form {
  width: calc(25 * var(--unit));
  display: flex;
  align-items: right;
  flex: 1 1 calc(25 * var(--unit));;
  margin-left: auto;
  div {
    width: 100%
  }
}
.menu {
  position: relative;
  z-index: 10000;
}
.headerHolder,
.headerHolderSearch {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .form {
    width: auto;
  }
  .headerHolderSearch .logoText {
    display: none;
  }
}
.searchInput label {
  color: #000 !important;
}
.searchInput input:focus + span:before {
  background-color: #000 !important;
}
.searchInput input:focus + span:after {
  background-color: #000 !important;
}
