@import "../../global.css";

html {
  font-size: 62.5%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  -webkit-touch-callout: none;
  background: var(--tfk-bg-page);
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

:global #content {
  height: 100%;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @media screen and (max-width: 767px) {
    position: static;
  }
}

.container {
  height: 100%;
  display: flex;
  width: 100%;
}



a, abbr, address, article, aside, audio, b, blockquote, body, caption, cite,
code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1,
h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span,
strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, label, p, button, abbr, a, span, small {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:not([type="checkbox"]):not([type="radio"]), button {
  outline: none;
  appearance: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[required]:-moz-ui-invalid {
  box-shadow: none;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: calc(5,6 * var(--unit));
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -.02em;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: calc(5,6 * var(--unit));
  line-height: 1.35;
}

h2 {
  font-size: calc(4.5 * var(--unit));
  line-height: calc(4.8 * var(--unit));
}

h3 {
  font-size: calc(2.4 * var(--unit));
  line-height: calc(3.2 * var(--unit));
}

h4 {
  font-size: calc(2 * var(--unit));
  line-height: 1;
}

p {
  font-size: calc(1.4 * var(--unit));
  line-height: calc(2.4 * var(--unit));
  margin-bottom: calc(1 * var(--unit));
}

