:root {
  --tfk-yellow: #ffd520;
  --tfk-black: #000000;
  --tfk-green: #6ac4ae;
  --tfk-blue: #00b1c7;
  --tfk-red: #e30438;
  --tfk-bg-page: #f2f2f2;
  --tfk-text-color: #000;

  --unit: 10px;
  --color-content: #fafafa;
  --color-danger: #d9534f;
  --color-success: #5cb85c;

  --z-index-higher: 300;
}

.card {
  margin-bottom: calc(1.5 * var(--unit));
  overflow: visible;
}

.equelHeightRow {
  flex-wrap: wrap;
}

.equelHeightCol {
  display: flex;
}

.cardTitle {
  position: relative;
  margin-bottom: 0;
}

.cardButton {
  position: absolute;
  right: calc(1.6 * var(--unit));
  top: calc(2 * var(--unit));
}

.cardActions {
  padding: calc(1.5 * var(--unit));
}

.cardList {
  padding-top: 0;
}

.linkBtnFix {
  line-height: calc(3.6 * var(--unit));
}

.mainTitle {
  margin-bottom: calc(2 * var(--unit));
}

.nolink {
  text-decoration: none;
  color: inherit;
  font-smoothing: inherit;
}

.buttonHolder {
  margin-bottom: calc(2 * var(--unit));
}

.meta {
  font-size: calc(1.4 * var(--unit));
  color: #999;
}
